@page "/intro"
@using ForStock.Client.ViewModels
@inject IIntroViewModel _introViewModel

<div>
    <div>
        <div>API key</div>
        <input type="text" @bind-value="_introViewModel.ApiKey" class="form-control" placeholder="API key를 입력하세요.">
    </div>
    <br />
    <div>
        <div>주식코드</div>
        <input type="text" @bind-value="_introViewModel.StockCode" class="form-control" placeholder="주식코드를 입력하세요.">
    </div>
    <br />
    <div>
        <div>개별(OFS)/연결(CFS)</div>
        <div>
            <select class="custom-select">
                <option selected>선택...</option>
                <option value="1">개별(OFS)</option>
                <option value="2">연결(CFS)</option>
            </select>
        </div>
    </div>
    <br />
    <button class="btn btn-primary" @onclick="_introViewModel.UpdateOnclick">Update</button>
</div>

<div>
    @* 기업정보 보여줄 곳 *@
</div>
