@page "/visualization"
@using ForStock.Shared
@inject HttpClient Http


@if (1 != 1)
{
    <p><em>Loading...</em></p>
}
else
{
  <Chart Id="revenueQuarters" Type="@Chart.ChartType.Bar" ></Chart>
}

@code{
  protected override async Task OnInitializedAsync(){
    
    await base.OnInitializedAsync();
  }

}